@(title: String)(content: Html)

<!DOCTYPE html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body> 
  <div id="header">
    <img src="@routes.Assets.at("images/blackbook.png")" width="500px" height="68px" alt="Blackbook" title="Blackbook" />
    <section class="nav-container">
	    <nav>
	      <ul class="nav">
	        <!--Go to / for all users-->
	        <li class="nav"><a href="/" class="nav-icon" title="Home"><span class="icon-home">Home</span></a></li>
	        
	        <!--Go to /products for all users-->
	        <li class="nav"><a href="/products" title="Products">Products</a></li>
	        
	        <!--Go to /users if Admin-->
	        <li class="nav"><a href="/users" title="Users">Users</a></li>
	        
	        <!--Go to /transactions if Accounting or Admin-->
	        <li class="nav"><a href="/transactions" title="Ledger">Ledger</a></li>
	        
	        <!--Go to /order if Client or Admin-->
	        <li class="nav"><a href="/order" title="Order">Order</a></li>
	        
	        <!--Go to /logout for all users-->
	        <li class="nav"><a href="/logout" title="Contact">Logout</a></li>
	      </ul>
	    </nav>
	  </section>
  </div>
  <div id="content">
    @content
  </div>
</body>
</html>
