@(products: List[Product], productForm: Form[String])

@import helper._

@main("Products") {
  <h1>@products.size product(s)</h1>
  
  <table>
    @products.map { product =>
      <tr>
        <td>@product.label</td>
        @Product.getTags(product.id).map { tag =>
          <td>
            @tag.label
          </td>
        }
        <td>
          @form(routes.ProductController.deleteProduct(product.id)) {
              <input type="submit" value="Delete">
          }
        </td>
      </tr>
    }
  </table>
  
  <h2>Add a new product</h2>
  
  @form(routes.ProductController.newProduct) {
    
    @inputText(productForm("label")) 
    <input type="submit" value="Create">
    
  }
  
}
