@(products: List[Product], productForm: Form[String])

@import helper._

@main("Products") {
    
    <h1>@products.size product(s)</h1>
    
    <ul>
        @products.map { product =>
            <li>
                @product.label
                
                @form(routes.Application.deleteProduct(product.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new product</h2>
    
    @form(routes.Application.newProduct) {
        
        @inputText(productForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}
