/* Used to style the message table. */
table.message-table {
  font-family: "Courier New", Monospace; 
  font-size: 12px;
  margin-left:40px;
  border-color: white;
  max-width: 800px;
}

table.message-table tr {
  text-align: left;
}

table.message-table td {
   padding:5px;
   border-top: 1px solid gray;
}
table.message-table th { 
   
}
