@(users: List[User.User])(implicit user: User.User)

@import helper._

@main("Blackbook | Users") {
  <link rel="stylesheet" 
    type="text/css" 
    src="@routes.Assets.at("stylesheets/users.css")"
  >
  <script type="text/javascript">
    function addUsers(json) {
      var ul = $("#userlist");
      clearUsers();

      for (var i = 0; i < json.result.length; ++i) {
        var user = json.result[i];
        
        ul.append(
          $('<li>').append(
            $("<a>").
              append(user.name).
              click(onViewUser).
              data('user', user)
        ));
      }
    }

    function clearUsers() { 
      $("#userlist").empty();
    }

    function clearContent() { 
      $("#dashboard-content").empty();
    }

    function setContent(data) {
      $("#dashboard-content").html(data);
    }

    function refreshUsers() { 
      @if(user.hasPermission(Permission.ViewUsers)) {
      jsRoutes.controllers.api.Users.all().ajax({ 
        success: addUsers,
        error: clearUsers
      });
      }
    }

    function onNewUser() {
      alert("onNewUser not implemented.");
    }

    function postNewUser() {
      alert("postNewUser not implemented.");
    }

    function onViewUser(eventData) {
      clearContent();

      var user = $(eventData.target).data('user');

      jsRoutes.controllers.Users.user(user.name).ajax({
        success: setContent,
        dataType: "html"
        });
    }

    function onEditUser() {
      alert("onEditUser not implemented.");
    }

    
    window.onload = function() { 
      $("#new-user").click(onNewUser);

      refreshUsers();
    }
  </script>
  <div id="sidebar">
    @if(user.hasPermission(Permission.EditUsers)) {
    <h2>Actions</h2>
    <a class="fancy-button" id="new-user">New User</a>
    }
    <h2>Users</h2>
    @if(user.hasPermission(Permission.ViewUsers)) {
    <ul class="userlist" id="userlist">
    </ul>
    }

  </div>
  
  <div id="dashboard-content">
  </div>
}

