@(users: List[User.User])(implicit user: User.User)

@import helper._

@main("Blackbook | Users") {
  <script type="text/javascript">
    function addUsers(json) {
      var ul = $("#userlist");
      clearUsers();

      for (var i = 0; i < json.result.length; ++i) {
        var user = json.result[i];
        
        ul.append(
          $('<li>').append(
            $("<a>").append(user.name)
                    .click(onViewUser)
                    .data('user', user)
        ));
      }
    }

    function clearUsers() { 
      $("#userlist").empty();
    }

    function clearContent() { 
      $("#dashboard-content").empty();
    }

    function setContent(data) {
      $("#dashboard-content").html(data);
    }

    function refreshUsers() { 
      @if(user.hasPermission(Permission.ViewUsers)) {
      jsRoutes.controllers.api.Users.all().ajax({ 
        success: addUsers,
        error: clearUsers
      });
      }
    }

    function onViewUser(eventData) {
      clearContent();

      var user = $(eventData.target).data('user');

      jsRoutes.controllers.Users.viewUser(user.name).ajax({
        success: setContent,
        dataType: "html"
      });
    }

    function onEditUser() {
      alert("onEditUser not implemented.");
    }

    $(document).ready(function() {
        refreshUsers();
   });
  </script>
  <div id="sidebar">
     <h2>Actions</h2>
    @if(user.hasPermission(Permission.ViewUsers)) {
    <a href="@routes.Users.newUser()" style="width:100%;" class="fancy-button">New User</a>
    }
    @if(user.hasPermission(Permission.ViewUsers)) {
    <h2>Users</h2>
    <ul class="userlist" id="userlist">
    </ul>
    }

  </div>
  
  <div id="dashboard-content">
  </div>
}

