@(userToView: User.User)(implicit user: User.User)
<h1>User: @userToView.name</h1>

<table class="box-table" style="width: 100%;">
  <tr>
    <th>E-mail</th>
    <td>@userToView.email</td>
  </tr>
  <tr>
    <th>Password</th>
    <td>@userToView.password</td>
  </tr>
  <tr>
    <th>Permissions</th>
    <td>
    @userToView.getPermissions.map { perm =>
      @perm.toString<br />
    }
    </td>
  </tr>
  <tr>
    <th>Account Status</th>
    @if(userToView.enabled){
   <td>This account is active.</td>
   } else {
   <td>This account has been disabled.</td>
   }
  </td>
</table>
<br />
<br />
@if(user.hasPermission(Permission.ViewUsers)) {
   <a href="@routes.Users.editUser(userToView.name)" class="fancy-button">Edit User</a>
}
