@(user: User.User)
<section class="nav-container">
  <nav>
    <ul class="nav">
      <li class="nav">
        <a href="@routes.Announcements.announcements()" class="nav-icon" title="Home">
     <span class="icon-home">Messages<span/>
   </a>
      </li>
      @if(user.hasSomePermission(Permission.ViewProducts + Permission.EditProducts)) { 
        <li class="nav">
          <a href="@routes.Products.products()" title="Messages">
            Products
          </a>
        </li>
      }

      @if(user.hasSomePermission(Permission.ViewUsers + Permission.EditUsers)) { 
        <li class="nav">
          <a href="@routes.Users.users()" title="Users">
            Users
          </a>
        </li>
      }
      
      @if(user.hasSomePermission(Permission.ViewLedger + Permission.EditLedger)) { 
        <li class="nav">
          <a href="@routes.Transactions.transactions()" title="Ledger">
            Ledger
          </a>
        </li>
      }


      @if(user.hasRole(Roles.Client) && !user.hasRole(Roles.Sales)) {
        <li class="nav">
          <a href="@routes.Application.order()" title="Order">
            Order
          </a>
        </li>
      }
      
      <li class="nav">
        <a href="@routes.Application.logout()" title="Contact">
          Logout
        </a>
      </li>
    </ul>
  </nav>
</section>
