@(user: User.User)
<section class="nav-container">
  <nav>
    <ul class="nav">
      <li class="nav">
        <a href="@routes.Application.messages()" class="nav-icon" title="Home">
	  <span class="icon-home">Messages<span/>
	</a>
      </li>
      @if(user.hasPermission(Permission.ViewProducts)) { 
        <li class="nav">
          <a href="@routes.Products.products()" title="Messages">
            Products
          </a>
        </li>
      }

      @if(user.hasPermission(Permission.ViewUsers)) { 
        <li class="nav">
          <a href="@routes.Application.users()" title="Users">
            Users
          </a>
        </li>
      }
      
      @if(user.hasPermission(Permission.ViewLedger)) { 
        <li class="nav">
          <a href="@routes.Transactions.transactions()" title="Ledger">
            Ledger
          </a>
        </li>
      }


      @if(user.hasRole(Roles.Client) && !user.hasRole(Roles.Sales)) {
        <li class="nav">
          <a href="@routes.Application.order()" title="Order">
            Order
          </a>
        </li>
      }
      
      <li class="nav">
        <a href="@routes.Application.logout()" title="Contact">
          Logout
        </a>
      </li>
    </ul>
  </nav>
</section>
