@(products: List[Product])(implicit user: User.User)

@import helper._

@main("Blackbook | Products") {
  <script type="text/javascript">
  
   // cache the products json response
  var productsJSON = null;

   // by default product filtering is turned off
  var filterProducts = false;

   // Sort of a messy hack to init array to a list of all categories id's
  var categoriesFilter = [@play.api.templates.Html({
                var result = ""
                  for(tag <- Tag.all()) {
                    result += tag.id + " "
                  }
                  result.trim().replace(" ", ",");
                })];

   // helper function to remove elements from an array
  function remove(item, arr) {
      for (var i = arr.length; i--;) {
          if (arr[i] === item) {
              arr.splice(i, 1);
          }
      }
  }

   // helper function to check if the array contains a given element
  function contains(item, arr) {
      for (var i = 0; i < arr.length; i++) {
          if (arr[i] === item) {
              return true;
          }
      }
      return false;
  }

   // given some json, returns the html for a product display cell
  function createProductCell(product) {
      var html = '<div class="product">';
      html += '<div class="product-name"><a href="/products/' + product.id + '">' + product.name + '</a></div>';
      html += '<center><a href="/products/' + product.id + '"><img class="product-icon" src="/products/' + product.id + '/icon" alt="' + product.name + ' Icon" width="180px" height="180px" /></a></center>';
      html += '</div>';
      return html;
  }

  // redraw the products in the product display window
  function refreshProducts() {
      // calculate the width of the browser to know how many table rows we can add
      var width = $(window).width();
      // get the products display windows left position and calculate the product display windows width
      var productsDisplayLeftPosition = $("#products-display").offset().left;
      var productsDisplayWidth = width - productsDisplayLeftPosition;
      // product grid cells are a fixed width
      var productCellWidth = 240;
      // each cell has fixed left and right margins
      var marginSize = 10;
      // calcuate the max number of cells could be displayed horizontally
      var numCellsWide = Math.floor(productsDisplayWidth / (productCellWidth + (2 * marginSize)));

      $("#products").empty(); // clear the products table
      var numCellsAdded = 0;

      // for each category query and add to list of products to display
      if (filterProducts) {
          var productsAdded = []; // list of products added
          for (var i = 0; i < categoriesFilter.length; i++) {
              jsRoutes.controllers.api.Tags.getProducts(categoriesFilter[i]).ajax({
                  success: function (json) {
                      if (json.status == "OK") {
                          var products = json.result;
                          // add each new product in the result
                          for (var j = 0; j < products.length; j++) {

                              // add product if we haven't already from another category
                              if (!contains(products[j].id, productsAdded)) {
                                  // record the new product entry so we don't add it again
                                  productsAdded.push(products[j].id);

                                  // add the product to the table
                                  if (numCellsAdded % numCellsWide == 0) {
                                      if (numCellsAdded == 0) {
                                          // first row, just add a new row to get things started
                                          $("#products").append("<tr>");
                                      } else {
                                          // need to start a new row and close the old one
                                          $("#products").append("</tr><tr>");
                                      }
                                  }
                                  $("#products tr:last").append("<td>" + createProductCell(products[j]) + "</td>");
                                  numCellsAdded++;
                              }
                          }
                      } else {
                          // could not retrieve results, just skipping this category
                      }
                  },
                  error: function () {
                      // couldn't load categories, just skipping category 
                  },
                  async: true // Note: Set this option to false to force these calls to run synchrounously
              });
          }
          $("#products").append("</tr>"); // close the last table row
      } else {
          // parse json and display result for all products
          if (productsJSON.status == "OK") {
              var products = productsJSON.result;
              for (var i = 0; i < products.length; i++) {
                  // add product to the display table
                  if (numCellsAdded % numCellsWide == 0) {
                      if (numCellsAdded == 0) {
                          // first row, just add a new row to get things started
                          $("#products").append("<tr>");
                      } else {
                          // need to start a new row and close the old one
                          $("#products").append("</tr><tr>");
                      }
                  }
                  $("#products tr:last").append("<td>" + createProductCell(products[i]) + "</td>");
                  numCellsAdded++;
              }
              $("#products").append("</tr>"); // close the last table row
          } else {
              alert("Error: Couldn't load products table.");
          }
      }
  }

  @if(user.hasPermission(Permission.ViewProducts)) { 
   // on page load
  $(document).ready(function () {
      // query for the products to display
      jsRoutes.controllers.api.Products.all().ajax({
          success: function (json) {
              productsJSON = json; // update the productsJSON cache
              refreshProducts();
          },
          error: function () {
              alert("Error: Couldn't load products table.");
          }
      });
  });
  }

   // on window resize redisplay the product cells using the cached products json
   // use a timer to filter out excessive resize events
  var resizeTimer;
  $(window).resize(function () {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(refreshProducts, 100);
  });
  </script>

  <div id="sidebar"> 
  @if(user.hasPermission(Permission.EditProducts)) {
  <h2>Actions</h2>
  <a href="@routes.Products.newProduct" style="width:100%;" class="fancy-button">Add Product</a>
  }
 
  @if(user.hasPermission(Permission.ViewProducts)) {  
    <h2>Categories</h2>
    <form>
      <input style="font-size: 120%;" id="category-checkbox-all" type="checkbox" class="category-checkbox" checked="checked">All Products (*)<br>
      <script type="text/javascript">
        $("#category-checkbox-all").change(function () {
            if ($("#category-checkbox-all").is(":checked")) {
                filterProducts = false;
            } else {
                filterProducts = true;
            }
            refreshProducts();
        });
      </script>
      @Tag.all().map { tag =>
        <input style="font-size: 120%;" id="category-checkbox-@tag.id" type="checkbox" class="category-checkbox" checked="checked">@tag.name<br>
        <script type="text/javascript">
        $("#category-checkbox-@tag.id").change(function () {
          if ($("#category-checkbox-@tag.id").is(":checked")) {
            categoriesFilter.push(@tag.id);
          } else {
            remove(@tag.id, categoriesFilter);
          }
            refreshProducts();
          });
        </script>
      }
  </form>
  }
  </div>
 
  @if(user.hasPermission(Permission.ViewProducts)) {  
    <div id="products-display">
      <center><table id="products"></table></center>
    </div>
  }
  
}
