@(productForm: Form[(String, String)])(implicit user: User.User)

@import helper._

@main("Blackbook | New Product") {
  
  <div id="sidebar" style="float:left; color:black;">
    <h2>Actions</h2>
    <a href="@routes.Products.products()" style="width:100%;" class="fancy-button">Browse Products</a>
  </div>
  <div id="dashboard-content">
  @form(routes.Products.createProduct) {
      @inputText(productForm("name"), args = '_label -> "Name", 'class -> "fancy-input") 
      @textarea(productForm("description"), args = 'rows -> 10, 'cols -> 90, '_label -> "Description", 'class -> "fancy-text-input")
      <input class="fancy-button" type="submit" value="Create">
  }
  </div>
}
