@(loginForm: Form[(String, String)])(implicit flash: Flash)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
   <title>The Caring Donations Community &rsaquo; Log In</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("wordpress/stylesheets/login.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("wordpress/stylesheets/colors-fresh.css")">
   <meta name='robots' content='noindex,nofollow' />
</head>
<body class="login">

<div id="login">
<h1><a href="http://wordpress.org/" title="Powered by WordPress">The Caring Donations Community</a></h1>

@loginForm.errors.map { error =>
  <p id="login_error">
     <strong>Error: </strong> @error.message
  </p>
}

<p class="message">You must be logged in to view this site.</p>
@helper.form(action = routes.Application.authenticate) {
    <p>
      <label>Username<br />
      <input type="text" name="username" id="username" class="input" value="@loginForm("username").value" size="20" tabindex="10" />
    </p>
    <p>
      <label>Password<br />
      <input type="password" name="password" id="password" class="input" value="@loginForm("password").value" size="20" tabindex="20" />
    </p>
   <p class="submit">
      <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Log In" tabindex="100" />
   </p>
}

<p id="backtoblog"><a href="/" title="Login Required">← The Caring Donations Community</a></p>
</div>

</body>
</html>
