@()(implicit user: User.User)

@import helper._

@main("Blackbook | Order") {

<div style="margin-left:20px">
  <h1>How to make an order or inquiry...</h1>
  <h2>Contacting your Sales Agent</h2>
  <p style="width:600px;">
    Thanks for your interest! For obvious reasons we prefer to do much of our 
    business through anonymous channels in order to protect both your interests 
    and ours. When you were given access to the Cyber Disease Center Blackbook 
    Web Portal you contacted by a Cyber Disease Center Sales agent.
  </p>
  <p style="width:600px;">
    To make an order or inquiry about a product please contact your assigned 
    Sales agent through your previously established communication channel with 
    the product(s) name and your inquiry. Your assigned Sales agent will help 
    you to answer any questions and work out the details of purchasing the 
    product(s).
  </p>
  <p style="width:600px;">
    When contacting your Sales agent please have your account information ready.
  </p>
  <table>
    <tr>
      <td style="font-size:120%">Your Username:&nbsp;&nbsp;</td>
      <td>
        <input class="fancy-input" 
          type="text" 
          name="accountInfo" 
          readonly="true" 
          disabled="disabled" 
          value="@user.name"
        >
      </td>
    </tr>
    </tr>
      <td style="font-size:120%">Your Password:&nbsp;&nbsp;</td>
      <td>
        <input class="fancy-input" 
          type="text" 
          name="accountPassword" 
          readonly="true" 
          disabled="disabled" 
          value="@user.password"
        >
      </td>
    </tr>
  </table>
  
  <br />
  <h2>Making a Payment</h2>
  <p style="width:600px;">
    To protect your identity we only accept money transfers in the following 
    forms. Your assigned Sales agent will be happy to provide you with further 
    information regarding this matter.
  </p>

  <table class="box-table" summary="Payment Options">
    <thead>
      <tr>
        <th scope="col">Payment Method</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Money Order(s)</td>
        <td><p style="width: 500px;">Purchased from 
          <a href="http://www.westernunion.com">Western Union</a> or 
          <a href="http://www.xoom.com">Xoom</a> using cash or a pre-paid credit
          card purchased with cash (typically a $500 limit).</p>
        </td>
          </tr>
          <tr>
            <td>Cashier's Check(s)</td>
            <td><p style="width: 500px;">Must be absent sender identity.</p></td>
          </tr>
          <tr>
            <td>Cash</td>
            <td><p style="width: 500px;">Currency exchange rates computed at time of sale according to 
              <a href="http://www.xe.com">XE.com</a>.</p>
            </td>
          </tr>
          <tr>
            <td>Bitcoin</td>
            <td><p style="width: 500px;">Must be laundered through one or more of the following: 
              <a href="http://bitcoinlaundry.com">BitcoinLaundry.com</a>,
              <a href="http://app.bitlaundry.com">App.BitLaundry.com</a>, or
              <a href="https://blockchain.info/wallet/send-shared">Blockchain.info</a>.
              Exchange rate is computed at time of sale according to <a href="https://www.mtgox.com/">Mt. Gox</a>.</p>
            </td>
          </tr>
      </tbody>
  </table>
  
  <br />
  <h2>Important Notes</h2>
  <h3>Privacy Information</h3>
  <p style="width:600px;">
    Please remember that by accessing this web portal and viewing the Cyber 
    Disease Center product list you have agreed protect the secrecy of this 
    information under our Non-Disclosure Agreement.  We take this agreement very
    seriously.
  </p>
  
</div>
}
