@(product: Product, productForm: Form[(String, String)])

@import helper._

@main("Blackbook | Edit " + product.name) {

  <h1 id="showing-label" style="padding-left:20px">Product: @product.name</h1>
  <div id="sidebar" style="float:left; color:black;">
    <h2>Actions</h2>
    <a href="@routes.Products.products()" style="width:100%;" class="fancy-button">Browse Products</a>
    <br />
    <br />
    <a href="@routes.Products.viewProduct(product.id)" style="width:100%;" class="fancy-button">View Product</a>
  </div>
  <div id="product-display">
  	<img class="product-icon" src="@product.getIcon()" alt="@product.name Icon" width="180px" height="180px" />
  	<br />
  	<br />
  	<h2>Icon</h2>
	@form(action = routes.Products.uploadProductIcon(product.id), 'enctype -> "multipart/form-data") {
	  <input type="file" name="iconUpload">
	  <input class="fancy-button" type="submit" value="Upload Icon">
	}
  	
  	<br /><hr /><br />
  	
  	<h2>Name and Description:</h2>
  	@form(routes.Products.updateProduct(product.id)) {
    	@inputText(productForm("name"), args = '_label -> "Name") 
    	@textarea(productForm("description"), args = 'rows -> 10, 'cols -> 100, '_label -> "Description")
    	<input class="fancy-button" type="submit" value="Update">
  	}
  	
  	<br /><hr /><br />
  	
  	<h2>Categories:</h2>
  	<p style="font-size: 120%;">[@Product.getTags(product.id).map { tag =>
    	@tag.name 
  	}]</p>
  	
  	<br /><hr /><br />
  	
  	<h2>Files:</h2>
  	@if(product.getFiles().size > 0) {
  	<table id="box-table" summary="Product Files">
	    <tr>
	    	<th>File</th>
	    	<th>Delete</th>
	    </tr>
	    @for(file <- product.getFiles()) {
		<tr>
	      <td>@file.getName()</td>
	      <td>@form(routes.Products.deleteFile(product.id,file.getName())) {
              <input class="fancy-button" type="submit" value="Delete">
          }
        </td>
	    </tr>
	}
	</table>
  	} else {
  		<h3>No attachments</h3>
  	}
  	
  	<h3>Upload File</h3>
	@form(action = routes.Products.uploadProductFile(product.id), 'enctype -> "multipart/form-data") {
	  <input type="file" name="fileUpload">
	  <input class="fancy-button" type="submit" value="Upload File">
	}
	<br />
	<br />
  
}
