@(products: List[Product], productForm: Form[(String, String)])

@import helper._

@main("Blackbook | Products") {
  <h1>@products.size product(s)</h1>
  
  <script type="text/javascript">
  // on page load 
  $(document).ready(function(){

	  // calculate the width of the page to know how many table rows we can add
	  var width = $(document).width();
	  // product grid cells will be shown at 150px by 150px
	  var productCellWidth = 150;
	  // each cell has some left and right padding
	  var paddingSize = 50;
	  // calcuate the max number of cells could be displayed horizontally
	  var numCellsWide = Math.floor(width / (productCellWidth + (2*paddingSize)));

	  // query for the products to display
	  var productsPath = "/api/products";
	  $.getJSON(productsPath,function(json){
		    if(json.status == "OK"){
		      var products = json.result;
		      var cellsAdded = 0;
		      $("#products").empty(); // clear the products table
		      for(var i=0; i<products.length; i++){
		    	// alert(JSON.stringify(json.result[i]));
			  }
		    } else {
			  alert("Error: Couldn't load products table.");
			}
	    }).error(function() { alert("Error: Couldn't load products table."); });
  });
  </script>

  <center><table id="products"></table></center>
  
}
