@(products: List[Product], productForm: Form[(String, String)])

@import helper._

@main("Blackbook | Products") {

  <h1 style="padding-left:20px">Showing @products.size product(s)</h1>
  
  <script type="text/javascript">
  // given some json, returns the html for a product display cell
  function createProductCell(product){
	  var html = '<div class="product">';
	  html += '<div class="product-name"><a href="/products/' + product.id + '">' + product.name + '</a></div>';
	  html += '<center><a href="/products/' + product.id + '"><img class="product-icon" src="/products/' + product.id + '/icon.png" alt="' + product.name + ' Icon" width="180px" height="180px" /></a></center>';
	  html += '</div>';
	  return html;
  }

  // cache the products json response
  var productsJSON = null;
  
  function refreshProducts() {
	// calculate the width of the browser to know how many table rows we can add
	var width = $(window).width();
	// product grid cells are a fixed width
	var productCellWidth = 240;
	// each cell has fixed left and right margins
	var marginSize = 10;
	// calcuate the max number of cells could be displayed horizontally
	var numCellsWide = Math.floor(width / (productCellWidth + (2*marginSize)));

	// parse json and display result
	if(productsJSON.status == "OK"){
		var products = productsJSON.result;
	    $("#products").empty(); // clear the products table
	    for(var i=0; i<products.length; i++){
			if(i % numCellsWide == 0){
				if(i == 0){
					// first row, just add a new row to get things started
					$("#products").append("<tr>");
				} else {
					// need to start a new row and close the old one
					$("#products").append("</tr><tr>");
				}
			}
			$("#products tr:last").append("<td>" + createProductCell(products[i]) + "</td>");
		 }
	    $("#products").append("</tr>"); // close the last table row
	} else {
	     alert("Error: Couldn't load products table.");
	}
  }
  
  // on page load
  $(document).ready(function(){
	// query for the products to display
	var productsPath = "/api/products";
	$.getJSON(productsPath,function(json){
	  productsJSON = json;  // update the productsJSON cache
      refreshProducts();
	}).error(function() { alert("Error: Couldn't load products table."); });
  });

  // on window resize redisplay the product cells using the cached products json
  // use a timer to filter out excessive resize events
  var resizeTimer;
  $(window).resize(function() {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(refreshProducts, 100);
  });
  </script>

  <center><table id="products"></table></center>
  
}
